#product-container{
    padding-top: 10%;
    width: 600px;
    margin: auto;
    width: 100%;
}


.cardProduct{
    display: flex;
    gap: 20px;
    width: 100%;
    transition: none;
    align-items: center;
}

.cardProduct:hover{
    translate: 0;
}


.cardProduct img{
    height: 100px;
    aspect-ratio: 1.5;
}

.title{
    font-size: 20px;
    
}

.price{
    background-color: #804040;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-weight: 600;
}


.btn{
    background-color: #804040;
    border: 2px solid #804040;
    padding: 10px;
    border-radius: 1rem;
    cursor: pointer;
    color: #f9eaea;
}

#reboot{
    background-color: #804040;
    border: 2px solid #804040;
    padding: 10px;
    border-radius: 1rem;
    cursor: pointer;
    color: #f9eaea;
}

#totales, #cart-empty{
    text-align: center;
}

#cart-empty{
    margin-top: 70px;
    font-family: 'quicksand';
    font-weight: 700;
    color: #804040;
}

#cart-empty a{
    text-decoration: none;
}

#totales p{
    padding: 10px;
    color: #804040;
    font-family: 'quicksand';
    font-weight: 800;
}

.cantidad{
    color: white;
}

