html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1; 
}
/* ======SECTION REGISTER======== */
input:focus{
  outline: none;
}
#register{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 80px;
}

.titleRegister{
  background-color: var(--primary);
  border-radius: 8px;
  padding: 5px;
  font-size: 30px;
  color: var(--lettering);
  margin-bottom: 10px;
  font-family: 'quicksand';
}

#formRegister{
  text-align: center;
  padding: 10px;
  border-radius: 1rem;
}

.formGroup{
  padding: 5px;
  margin: 10px;
}

.formGroup input{
  background-color: white;
  padding: 10px;
  border-radius: 0.5rem;
  border: none;
  font-family: 'quicksand';
  font-weight: 800;
}



.formGroup.error input{
    border: 2px solid red;
}

.formGroup small{
    padding: 10px;
    color: rgb(225, 26, 26);
    max-width: 350px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    display: none;
}

.formGroup.success input{
    border: 2px solid rgb(9, 226, 9);
}


#form_error{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 1rem;
    margin: 8px 0px;
    max-width: 350px;
    text-align: center;
}


.btnRegister{
  padding: 10px;
  border-radius: 0.3rem;
  border: none;
  background-color: white;
  width: 65%;
  font-family: 'quicksand';
  font-size: 20px;
  color: var(--lettering);
  font-weight: 600;
}

.btnSesion{
  padding: 3px;
  border-radius: 0.3rem;
  border: none;
  background-color: white;
  width: 55%;
  font-family: 'quicksand';
  font-size: 20px;
  color: var(--lettering);
  font-weight: 600;
  cursor: pointer;
}

#formSesion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 100px;
}

#formStartSesion{
  text-align: center;
}

#sesion {
  padding: 10px;
  color: var(--lettering);
  font-size: 20px;
  font-weight: 700;
  font-family: 'quicksand';
}

#sesion a{
  text-decoration: none;
  color: rgb(7, 81, 155);
  font-size: 20px;
  font-family: 'quicksand';
}

.titleSesion{
  border-radius: 8px;
  padding: 5px;
  font-size: 30px;
  color: var(--lettering);
  margin-bottom: 10px;
  font-family: 'quicksand';
  text-align: center;
}

#footerSesion {
  background-color: var(--lettering);
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

