*{
  margin: 0;
  padding: 0;
}


body{
  scrollbar-width: none;
  background-color: var(--primary);
}
html, body{
  height: 100%;
  overflow-x: hidden;
}
:root{
    --primary: #f9eaea;
    --lettering: #804040;
    --secondary: #0D2D4D;
    --back1: #d6cfc9;
    --back2: #e8d8d8;
    --back3:#d39c9c;

}

.iceLogo{
  width: 60px;
  height: 60px;
}

header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary);
  height: 40px;
  z-index: 5;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navList, .navCakes{
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

nav a{
  color: #804040;
  font-weight: bold;
  font-size: 25px;
  text-decoration: none;
  font-family: 'quicksand';
}



/* ==========MENU HAMBURGUESA=============== */

.menu-label{
  height: 30px;
}

/* ==========carrito=============== */
.cartIcon{
  display: inline-block;
  position: relative;
  z-index: 10;
  height: 30px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 10px;
}

#menu-toggle, .menu-label{
  display: none;
}
#cartToggle{
  display: none;
}

.cart{
  position: absolute;
  top: 60px;
  right: 1%;
  background-color: var(--secondary);
  padding: 50px 30px;
  height: calc(100vh - 60px);
  color: var(--primary);
  display: none;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.cart h2{
  color: var(--primary);
  font-size: 32px;
  font-family: 'quicksand';
}

.cart-item img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#cart-items{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.item-title{
  color: var(--primary);
  font-size: 20px;
  font-family: 'quicksand';
}

.item-bid{
  color: var(--primary);
  font-size: 12px;
  font-family: 'quicksand';
}

.item.price{
  color: var(--primary);
  font-family: 'quicksand';
  font-weight: 700;
}

.item-handler{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quantity-handler{
  padding: 2px 8px;
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
}

.down{
  cursor: pointer;
  background-color: var(--primary);
  color: var(--secondary);
}

.up{
  cursor: pointer;
  background-color: var(--primary);
  color: var(--secondary);
}

.divider{
  margin-top: 20px;
  border: 1px solid var(--primary);
}

.cart-total{
  display: flex;
  color: var(--primary);
  justify-content: space-between;
}

.cart-total p{
  font-size: 20px;
  font-family: 'quicksand';
}

.cart-total span{
  font-weight: 600;
}

.btn-add{
  padding: 15px;
  border-radius: 1rem;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--secondary);
  cursor: pointer;
}

#cartToggle:checked + .cart{
  display: flex;
}


.escondido{
  display: none;
}


/*======MAIN======*/

#hero{
  margin-top: 80px;
  padding: 40px;
  display: flex;
  justify-content: center; 
  gap: 20px; 
  flex-wrap: wrap; 
  background-color: var(--primary);
  padding-bottom: 15%;
}
.cartContainerCake,
.cartContainerSm,
.cartContainerIce {
  border-radius: 1rem;
  padding: 20px;
  width: 500px;
  height: 650px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 200ms;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartContainerCake:hover,
.cartContainerSm:hover,
.cartContainerIce:hover {
  translate: 0 -10px;
  box-shadow: 0 0px 12px rgb(26, 26, 26);
}

.cartContainerCake{
  background-image: url(assets/img/fondo1.jpg);
}
.cartContainerSm{
  background-image: url(assets/img/fondo2.jpg);
}
.cartContainerIce{
  background-image: url(assets/img/fondo3.jpg);
}

#product-container{
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  justify-content: center;
}
.cardProduct {
  max-width: 100%;
  text-align: center;
  background-color: var(--lettering);
  padding: 20px;
  gap: 20px;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.228);
  transition: 200ms;
}

.cardProduct:hover {
  translate: 0 -10px;
  box-shadow: 0 0 5px rgb(7, 5, 5);
}

.price{
  color: var(--lettering);
  background-color: var(--primary);
  padding:5px;
  margin:5px;
  border-radius:10px;
}

.title {
  background-color: var(--primary);
  border-radius: 8px;
  padding: 5px;
  font-size: 24px;
  color: var(--lettering);
  margin-bottom: 10px;
  font-family: 'quicksand';
}

.btnSection {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--lettering);
  font-family: 'fredoka';
  font-weight: 500;
  border: none;
  border-radius: 0.5rem;
  font-size: 14px;
  cursor: pointer;
}

.btnSection a{
  text-decoration: none;
  color: var(--lettering);
}




.imgCakes { 
  max-height: 100vh; 
  width: auto;
  object-fit: contain;
}

.cardInfo{
  border-radius: 1rem;
  background-color: var(--back3);
  text-align: center;
  margin: 10px;
  padding: 20px;
  width: 200px;
  height: 250px;
}

.imgCardsInfo{
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.titleInfo{
  color: var(--primary);
  font-size: 30px;
}

#cakes, 
#smoothies,
#iceCream{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* section nosotros */
#nosotros{
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#nosotros h1{
  margin-top: 120px;
  font-size: 40px;
  font-family: 'quicksand';
  background-color: var(--lettering);
  padding: 15px;
  border-radius: 1rem;
  margin: 20px;
}

#nosotros a{
  text-decoration: none;
  color: var(--primary);
}



.titleH2{
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: var(--lettering);
  font-family: 'quicksand';
}



/* =====SECTION CONTACT===== */

#contact{
  margin-top: 70px;
}

#contact h2{
display: flex;
justify-content: center;
align-items: center;
font-size: 50px;
color: var(--lettering);
margin: 10px;
padding: 20px;
}


.formContact{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.formContact p{
  font-family: 'fredoka';
  color: var(--secondary);
  font-size: 30px;
  font-weight: 600;
}

.formContact input{
  height: 30px;
  border: 2px solid var(--secondary);
  border-radius: 1rem;
  padding: 10px;
  color: var(--secondary);
  font-family: 'fredoka';
  font-weight: 600;
}


#footer{
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lettering);
  margin-top: 20px;
}

#footer p{
  color: var(--primary);
  font-family: 'fredoka';
  font-size: 20px;
}

